@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: #F2F2F2;
  font-family: Arial, Helvetica, sans-serif;

}

.badgeHover:hover {
  transform: scale(0.9);
  background-color: #5CA595;
  color: white;
}

.cusHover:hover {
  background-color: #2B3939;
}